
  h1 {
    border-radius: 20px;
    width: fit-content;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: url('assets/couple.png')no-repeat center center fixed;
    background-size: cover;
    color: #333;
  }
  .pool {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
  }
  main {
    padding: 2rem 1rem;
    margin-top: 100px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #0077b6;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  section {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
  }
  
  .logo {
    height: 50px;
  }

  .container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
  }

  h1, h2, h3 {
    color: #0077cc;
  }

  ul {
    margin-left: 20px;
    padding-left: 20px;
  }

  ul li {
    margin-bottom: 10px;
  }

  .section {
    margin-bottom: 40px;
  }


