  body {
    background: url(assets/spa.png)no-repeat center center fixed;
    background-size: cover;
  }
.container {
    max-width: 900px;
    margin-top: 200px;
    padding: 20px;
  }
  .category ul,
  .notes ul {
    list-style-type: none;
    padding-left: 0;
  }
  
.category ul li {
    margin-bottom: 15px;
    background-color: #fff;
    padding: 15px;
    border-left: 4px solid rgb(114, 242, 197);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  }
  
  .category ul li span {
    display: block;
    margin-top: 5px;
    color: #555;
    font-size: 0.95em;
  }
  
  .notes{
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
  }