* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(assets/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
  }

form {
    background-color: white;
    box-shadow: #333;
    width: 300%;
    border-radius: 20%;
    /* line-gap-override: ; */
    padding: 2rem;
}
